@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../Fonts/exo-2/Exo2-Thin.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../Fonts/exo-2/Exo2-Regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../Fonts/exo-2/Exo2-Bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('../Fonts/exo-2/Exo2-ExtraBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}