/* 
  Bootstrap Grid, Utilities only (dist)
*/
@import "css-import/frameworks.min.css";
@import "css-import/bootstrap-grid.css";
@import "css-import/bootstrap-utilities.css";
@import "css-import/fancy.css";
/*
  UIkit (dist)
*/
@import "css-import/uikit.css";

// joomla custom
@import "css-import/joomla-alert.css";

// button,
.btn {
  @extend .uk-button;
}

/*
  ul
  ow for nav
*/
ul {
  @extend .uk-list;
}
.nav {
  .uk-list > :nth-child(n + 2),
  ul > :nth-child(n + 2),
  .uk-list > * > ul,
  ul > * > ul {
    margin-top: 0;
  }
}
.uk-list.nav > :nth-child(n + 2),
ul.nav > :nth-child(n + 2),
.uk-list.nav > * > ul,
ul.nav > * > ul {
  margin-top: 0;
}

/* Form */
// input {
//   @extend .uk-input;
// }
// select {
//   @extend .uk-select;
// }
// textarea {
//   @extend .uk-textarea;
// }
// input[type="radio"] {
//   @extend .uk-radio;
// }
// input[type="checkbox"] {
//   @extend .uk-checkbox;
// }
// input[type="range"] {
//   @extend .uk-range;
// }

/*
  OW Uikit
*/
* + p,
* + ul,
* + ol,
* + dl,
* + pre,
* + address,
* + fieldset,
* + figure,
p,
ul,
ol,
dl,
pre,
address,
fieldset,
figure {
  margin: 0;
}
p {
  margin-bottom: 15px;
}
a:hover,
.uk-link:hover,
.uk-link-toggle:hover .uk-link {
  text-decoration: none;
}
.uk-input::placeholder,
input::placeholder {
  text-align: left;
}
