
#media-query {
  display: none !important;
}

.js-flyout {
  max-width: 95% !important;
  max-height: 85% !important;
}
.js-flyout-content {
  overflow-y: auto !important;
}
.mod-newsflash.leistungen .row {
  justify-content: center;
}
.field-entry .section-container {
  max-width: 1290px;
}