.mod-newsflash.referenzen-sportplatzbau {
  margin-top: -30px;
  
  .item-image:not(.bg-image),
  .js-youtube {
    margin: -15px;
    margin-bottom: 0;
  }
  .js-responsive-media-yes {
    padding-bottom: 65%;
  }
  .card {
    padding-bottom: 0;
  }
}