body.is-home .mod-breadcrumbs__wrapper {
  display: none;
}
.mod-breadcrumbs__wrapper .container {
  padding: 10px 12px;
}
ul.mod-breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;

  li {
    flex: 0 0 auto;
    margin: 0;
    padding: 0;
  }

  li > a,
  li > span {
    padding: 4px 2px;
    color: var(--color-grey-dark);
    font-size: 0.9rem;
  }

  li .uk-icon {
    padding: 0;
    color: var(--color-primary);
    svg {
      margin-top: -2px;
    }
  }
}