.mod-custom.abenteuer-unternehmenskauf {
  background-image: url(../../../images/5-sonstige/bg-abenteuer-unternehmenskauf.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  h3 {
    @extend .heading-1;
  }
  h4 {
    color: var(--color-text);
    margin-bottom: 30px;
  }

  .col-text {
    margin-bottom: 30px;
  }

  @include media-breakpoint-up(md) {
    padding-bottom: 20px;
    font-size: 1.2rem;

    .col-text {
      order: 2;
    }
    h3 {
      text-align: left;
      margin-top: 30px;
    }
  }
}
