.mod-newsflash.team {
  .row > div {
    margin-bottom: 30px;
  }
  .item-content {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 15px;
    a,
    a:hover,
    a:focus,
    h3,
    h4,
    h5 {
      color: var(--color-white);
    }
    h4 {
      margin-top: 0;
      margin-bottom: 10px;
    }
    .buttons {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
    }
    button {
      font-size: 0.85rem;
      > a,
      > span {
        vertical-align: middle;
      }
    }
  }
}
